body {
    background: #3a3838;
    color: #a89a9a;
}
.contactForm {
    width: 500px;
    margin: 50px auto;
}
button.btn {
    float: right;
    border-radius: 10px;
    width: 200px;
}
.text-error {
    color: #ff8c78;
    display: block;
    height: 17px;
    line-height: 22px;
}
input.form-control, textarea.form-control {
    background: #4c4c4c !important;
    border-color: #212121;
    color: #d0c3c3;
}
textarea:focus, input:focus {
    outline: none;
}
.has-error .form-control, .has-error .form-control:focus {
    border-color: #ff8c78;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus {
    background-image: linear-gradient(to bottom, #6f6464 0%, #615454 50%);
    background-color: #5c4f4f;
    border: 0;
    outline: none;
    color: #d0c3c3;
}
.loader {
    float: right;
    margin: 8px 10px;
}
.result {
    line-height: 34px;
}
